{% extends 'layout.html' %}
{% load static %}

{% block title %} Posiciones {% endblock %}

{% block main %}

  <section class="tg-main-section tg-haslayout" id="points_table" name="points_table">
    <div class="tg-bgboxone"></div>
    <div class="tg-bgboxtwo"></div>
    <div class="tg-bgpattrant">
      <div class="container">
        <div class="row">
          <div class="tg-pointstablewrapper">
            <div class="col-sm-12 col-xs-12">
              <div class="tg-pointstable">
                <div class="tg-section-heading"><h2 style="color:black;">Puntos hasta la fecha</h2></div>
                <div id="tg-pointstable-slider" class="tg-pointstable-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Pink Dragons</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Red Wolves</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Pink Dragons</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Big jaw lion</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Pink Dragons</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Red Wolves</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Pink Dragons</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Red Wolves</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Pink Dragons</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Big jaw lion</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Pink Dragons</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tg-pointtable">
                        <div class="tg-box">Red Wolves</div>
                        <div class="tg-box">w 1</div>
                        <div class="tg-box">d 0</div>
                        <div class="tg-box">l 1</div>
                        <div class="tg-box">pt 2</div>
                      </div>
                    </div>
                  </div>
                  <div class="tg-themebtnnext"><span class="fa fa-angle-down"></span></div>
                  <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}